<div class="row">
    <div class="list-group songs">
        {{#if canCreateSong}}
            <div class="list-group-item">
                <form class="new-song-form" {{action "createSong" on="submit"}}>
                    {{input type="text" class="new-song" placeholder=newSongPlaceholder value=title}}
                    <button class="btn btn-primary btn-sm new-song-button"
                            disabled={{isAddButtonDisabled}}>Add</button>
                </form>
            </div>
        {{/if}}
        <div class="btn-group sorting-panel" role="group">
            {{#link-to (query-params sortBy="ratingDesc") class="sorting-link"}}
                <button type="button" class="btn btn-default sort-rating-desc sorting-button">Rating
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            {{/link-to}}
            {{#link-to (query-params sortBy="ratingAsc") class="sorting-link"}}
                <button type="button" class="btn btn-default sort-rating-asc sorting-button">Rating
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
            {{/link-to}}
            {{#link-to (query-params sortBy="titleDesc") class="sorting-link"}}
                <button type="button" class="btn btn-default sort-title-desc sorting-button">Title
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            {{/link-to}}
            {{#link-to (query-params sortBy="titleAsc") class="sorting-link"}}
                <button type="button" class="btn btn-default sort-title-asc sorting-button">Title
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
            {{/link-to}}
            <div class="search-panel">
                {{input type="text" placeholder="Start typing" value=searchTerm class="search-field"}}
                <div class="input-group-btn">
                    <button class="btn btn-default search-button">
                        <span class="glyphicon glyphicon-search" aria-label="search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="list-group songs">
            {{#each sortedSongs as |song|}}
                <div class="list-group-item song">
                    {{capitalize song.title}}
                    {{star-rating item=song rating=song.rating setAction="updateRating"}}
                </div>
            {{/each}}
        </div>
        {{#unless canCreateSong}}
            <div class="list-group-item empty-list">
                <div class="empty-message">
                    There are no songs yet. Why don't you <a href="#" {{action "enableSongCreation"}}>create one?</a>
                </div>
            </div>
        {{/unless}}
    </div>
</div>