<div class="container">
    <div class="col-md-12">
        <div class="page-header">
            <h1>R&R
                <small>with Ember.js</small>
            </h1>
        </div>
        {{outlet}}
    </div>
</div>